<launch>
<!--group可以启动多个相同的节点，避免了节点的名字冲突-->
<group ns="turtlesim1">　　//第一组名为turtlesim1
//node表示启动一个节点,该节点位置为pkg下的turtlesim_node，该节点命名为sim
<node pkg="turtlesim" name="sim" type="turtlesim_node"/>
</group>

<group ns="turtlesim2">//第二组名为turtlesim2
<node pkg="turtlesim" name="sim" type="turtlesim_node"/>
</group>

<node pkg="turtlesim" name="mimic" type="mimic">
<remap from="input" to="turtlesim1/turtle1"/>
<remap from="output" to="turtlesim2/turtle1"/>
</node>
</launch>
